<div class="col-sm-12 col-lg-4 mb-3">
	<div id="diary-id-<%= diary.id %>">
  	<div class="card">
			<%= image_tag 'sample.jpg', class: 'card-img-top', width: '300', height: '200' %>
			<div class="card-body">
      	<div class="d-flex">
          <h4 class="card-title">
						<%= link_to diary.title, diary_path(diary) %>
          </h4>
					<% if current_user.own?(diary) %>
          	<div class="ms-auto">
            	<%= link_to edit_diary_path(diary), id: "button-edit-#{diary.id}" do %>
            		<i class="bi bi-pencil-fill"></i>
        			<% end %>
          		<%= link_to diary_path(diary), id: "button-delete-#{diary.id}", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
         				<i class="bi bi-trash-fill"></i>
       				<% end %>
      			</div>
					<% else %>
						<div class="ms-auto">
							ほし
						</div>
					<% end %>
				</div>
        <ul class="list-inline">
      		<li><i class="bi bi-person"></i> <%= diary.user.first_name %></li>
      		<li><i class="bi bi-calendar"></i> <%= diary.created_at %></li>
				</ul>
      	<p class="card-text"><%= diary.first_line %></p>
        <p class="card-text"><%= diary.second_line %></p>
        <p class="card-text"><%= diary.third_line %></p>
   		</div>
 		</div>
	</div>
</div>