<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- 日記内容 -->
      <article class="card shadow" style="background-color: #FFFAF0;">
        <!-- 丸のアイコンを縦並びにする部分 -->
        <div class="d-flex flex-column justify-content-start align-items-center p-3" style="width: 20px; height: 40px;">
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
          <i class="bi bi-circle mb-2"></i>
        </div>
        <div class="card-body mx-4">
          <div class='row'>
            <div class='col-md-7 mx-auto'>
              <%= image_tag @diary.diary_image_url, class: 'card-img-top img-fluid px-4', width: '300', height: '200' %>
            </div>
            <div class='row mx-2 my-3'>
              <h3 class="col-6 fw-bold border-bottom"><%= @diary.title %></h3>
              <% if current_user.own?(@diary) %>
                <div class='col-6 d-flex justify-content-end'>
                  <div class="twitter mx-2">
                    <%= link_to "https://twitter.com/share?url=#{diary_url(@diary)}&text=I wrote Today's Diary. %0a%0a#{@diary.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Post on X" do %>
                      <i class="fa-brands fa-twitter fa-xl text-dark"></i>
                    <% end %>
                  </div>
                  <%= link_to edit_diary_path(@diary), id: "button-edit-#{@diary.id}" do %>
                    <i class="bi bi-vector-pen fa-lg"></i>
                  <% end %>
                  <%= link_to diary_path(@diary), id: "button-delete-#{@diary.id}", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                    <i class="bi bi-trash3 fa-lg"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class='row mx-2'>
              <div class="col-6 d-flex border-bottom"></div>
              <div class="col-6 d-flex border-bottom justify-content-end">
                <i class="bi bi-calendar me-2"></i><%= @diary.created_at.strftime("%Y/%m/%d %H:%M") %>
                <div class="ms-4">
                  <%= "by #{@diary.user.first_name}" %>
                  <%= image_tag @diary.user.avatar_url, class: 'rounded-circle mb-1', width: '30', height: '30' %>
                </div>
              </div>
            </div>
          </div>
          <div class="container m-3">
            <div class="row">
              <!-- 原文と修正文を横並びで表示 -->
              <h5 class="col-6 fw-bold border-bottom">User's Lines</h5>
              <h5 class="col-6 fw-bold border-bottom">Modified Lines</h5>
              <!-- １文目 -->
              <p class="col-6 border-bottom"><%= @diary.first_line %></p>
              <p class="col-6 border-bottom"><%= @translated_first_line %></p>
              <!-- ２文目 -->
              <p class="col-6 border-bottom"><%= @diary.second_line %></p>
              <p class="col-6 border-bottom"><%= @translated_second_line %></p>
              <!-- ３文目 -->
              <p class="col-6 border-bottom"><%= @diary.third_line %></p>
              <p class="col-6 border-bottom"><%= @translated_third_line %></p>
            </div>
          </div>
        </div>
      </article>
      <div class="mx-5 mt-2 d-flex justify-content-center">
        <%= link_to "View Other's Diary", diaries_path, class: "btn btn-dark btn-lg btn-outline-light" %>
      </div>
    </div>
  </div>
  <!-- コメントフォーム -->
  <%= render 'comments/form', comment: @comment, diary: @diary %>
  <!-- コメントエリア -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table class="table">
        <tbody id="table-comment">
          <%= render @comments%>
        </tbody>
      </table>
    </div>
  </div>
</div>