<!DOCTYPE html>
<html>
  <head>
    <title>ThreeLinesDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">

    <% if Rails.env.production? %>
      <meta name="twitter:card" content="summary_large_image">
      <meta property="og:title" content="Three Lines Diary">
      <meta property="og:url" content="https://three-lines-diary-6kjc.onrender.com/" />
      <meta property="og:image" content="<%= image_url "twitter_card.jpg" %>">
    <% end %>

    <style>
      body {
        background-image: url('https://images.unsplash.com/photo-1643874626318-964452868452?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        font-family: 'Dancing Script', cursive;
        height: calc(100vh - 134px);
        background-size: cover;
        position: relative;
        background-position: center;
        background-attachment: fixed;
      }
      main {
        padding-bottom: 29px
      }
      .top-inner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: 3rem;
      }
    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GW9JZDK246"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-GW9JZDK246');
    </script>
  </head>

  <body style="background-color: #666666">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
